doctype html
html
  head
    title #{title}
  body
    .container
      h1 Contact
      form
        div
          label Name
            input(type='text', placeholder='Name')
        div
          label Email
            input(type='email', placeholder='Email')
        div
          label Message
            textarea(placeholder='Message')
        div
          input(type='submit', value='Contact Us!')
