doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/sass-style.css")
  body
    div.logo
      i.fa.fa-calendar
    h1 ./cal.js
    h3 Alternative to #[s.bad cal]
    h4 Features
    ul
      li Replicates functionality of #[strong  cal ] from OSX
      li That's basically it
    ul
      li
        a(href="/cal") This Month
      li
        a(href="/cal/2016") Full Year 2016
      li
        a(href="/cal/8/1982") Whatever month you want from many years
     h2#tag(style="display: none") It's the goddamned best.
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="../javascripts/use-jquery.js")
