doctype html
html
  head
    block title
  body
    .container
       h1 Send us photos of you enjoying cal.js

       form(method='POST' enctype='multipart/form-data')
          input(type='file' accept='image/*, .pdf' name='image')
          input(type='submit' value='Upload')

